@font-face {
  font-family: 'myraid';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
       url('../fonts/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
       url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
       url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
body{
	font-family: 'myraid';
}
.muss{
	background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/mussoorie.jpg) no-repeat;
}
.dhan{
	background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/dhanaulti.png) no-repeat;
}
.rishi{
	background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/rishikesh.jpg) no-repeat;
}
.naini{
	background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/nainital.jpg) no-repeat;
}
.auli{
	background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/auli.jpg) no-repeat;
}
.my-header{
	background-size: 100% 600px;
	background-attachment: fixed;
	height: 500px;

}
.my-heading>h1{
	color: #fff;
	font-family: 'myraid';
	padding-top:15%;
	font-weight: 900;	
	letter-spacing: 4px;
	font-variant: small-caps;
	font-size: 72px;
}
.navbar{
	background:#000;
	border: none;
	transition: background 0.3s ease;
}			
.nav{
	font-family: 'myraid';
	font-size: 20px;
}
#history>p{
	padding-top: 30px;
	line-height: 1.6;
	font-size: 20px;
}
#map>h2{
	padding: 30px 0px;
}
#exp{
	padding: 30px;
}
.exp_box{
	height: 500px;
	overflow-y: scroll;
}
.userExp{
	border: 2px solid #eee;
	font-size: 30px;
	padding: 60px;
}
.user_name{
	padding: -20px;
	text-transform: capitalize;
	color: #337ab7;
}
.user_text{
	font-size: 24px;
}

#gen{
	padding: 30px;
}
#gen>p{
	padding-top: 30px;
	line-height: 1.6;
	font-size: 20px;
}
#gen h4{
	font-size:22px;
	padding: 30px 0 5px 0;
	font-weight: 600;
}
.gen_box{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}
.gen_box ul{
	list-style: none;
	padding: 30px;
}
.gen_box ul li{
	padding: 10px;
}
#history{
	background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/history.jpg) no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	color: #fff;
	padding: 30px 90px;
}
.historyText{
	font-size: 20px;
}
#exp h2{
	padding: 30px 0;
}	
#map{
	position: relative;
	z-index: -1;
	margin-top: 50px;
	background: #eee;
	padding: 30px 90px;
}
.exp_box{
	//border:2px solid #eee;
	height: 500px;
	overflow-y: scroll;
}
.exp_box,.form_box{
	margin-top: 40px;
}
.userExp{
	border: 2px solid #eee;
	font-size: 30px;
	padding: 60px;
}
.user_name{
	padding: -20px;
	text-transform: capitalize;
	color: #337ab7;
}
.user_text{
	font-size: 24px;
}
.footer{
	padding: 60px;
	margin-top: 120px;
	background:#101010;
	height: 200px;
	color: #fff;
	text-align: center;
	font-family: 'myraid';
	font-size: 24px;
}
.footer>p{
	padding:20px;
	letter-spacing: 2px;
}

.change{
	position: fixed;
	z-index: 99999;
	left: 10px;
	top: 7px;
	background: transparent;
	color: #fff;
	border: none;
}
.avgRate{
	font-size: 24px;
}
.red{
	color: red;
}
.rate{
	font-size: 24px;
	color: #339cff;
}
.place{
	transition: all 0.5 ease;
}
.up{
	color: #fff;
	position: fixed;
	bottom: 10px;
	right: 10px;
	background: #2b2b2b;
	opacity: 0.3;
	border: none;
	transition: all 0.5 ease;
}
.up:hover{
	opacity: 0.7;
}
