@font-face {
  font-family: 'myraid';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
       url('../fonts/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
       url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
       url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}
html,body{
	overflow: hidden;
}
.big_box{
	position: relative;
	width: 300vw;
	height: 2100px;
	//background: yellow;
	transform: translate(-100vw,-700px);
}
.horizontal{
	position: absolute;
	top:33.33%;
	top:calc(100%/3);
	width: 300vw;
	height: 700px;
}
.vertical{
	position: absolute;
	left: 0;
	right: 0;
	width: 100vw;
	height: 2100px;
	margin: auto;
}	

#center{
	width: 100vw;
	height: 700px;	
	background:url("../img/background2.jpg") no-repeat;
	background-size:100% 700px;
}

#center main{
	width: 90%;
	height: 500px;
	background: rgba(0,0,0,0.3);
	margin:auto;
	//border: 2px solid #fff;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	transition: transform 1.5s ease-out;
}
#center header{
	//border: 2px solid #fff;
	width: 50%;
	height: 200px;
	color: #fff;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;
	display: none;
}
#center .ptext{
	font-size: 20px;
}
#center header>h1{
	padding: 20px;
	letter-spacing: 2px;
	font-size: 42px;
}
.nav_v,.nav_h{
	position: absolute;
	width: 220px;
	height: 50px;
	//background: green;
	font-family: 'myraid';
	color: #fff;
	font-size: 30px;
	text-align: center;
	font-weight: 900;
	letter-spacing: 2px;
	line-height: 50px;
	vertical-align: middle;
}.nav_v span:hover,.nav_h span:hover{
	transition: letter-spacing 0.5s ease;
	letter-spacing: 7px;
}
.nav_v{
	margin:auto;
	left: 0;
	right: 0;
}
.nav_h{
	bottom: 50%;
}
#up{
	top:-20px;

}
#down{
	bottom:-30px;
}
#left{
	transform: rotate(90deg);
	left: -110px;

}
#right{
	transform: rotate(-90deg);
	right: -110px;
}

#left_part,#right_part,#up_part,#down_part{
	width: 100vw;
	height: 700px;
	padding-top: 15px;
}
#left_part{
	float: left;
	background: #000;
}
#right_part{
	float: right;
	background: skyblue;
}
#up_part{
	background: grey;
}

#down_part{
	background: red;
}
#down_part>main,#up_part>main,#left_part>main,#right_part>main{
	position: relative;
	width: 99%;
	height: 600px;
	margin: auto;
	//border: 2px solid white;
}